
*
{
    margin:0; 
    padding: 0;
}

.content
{
    height:90vh;
    width: 60%;
    border-radius: 10px;
    border: 4px solid #0a6611;
}
.container 
{
    width: 20px;
    background:rgb(2, 92, 2);
    max-width: 800px;
    margin: 40px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.row 
{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(2, 92, 2);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}

.row:before 
{
    content: '';
    background: rgb(1, 95, 1);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(6px);
    width: calc(100% + 9px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    border-radius: 10px;
}

